<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Mojo.rs{% endblock %}</title>
    <meta name="keywords" content="mojo cipele, mojo cipele beograd, beograd cipele, mojo shoes." />
    <meta name="description" content="Mojo Cipele">
    <meta name="author" content="<djordjestojilljkovic@gmail.com>">

    {% block stylesheets %}
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/owlcarousel/owl.carousel.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('vendor/owlcarousel/owl.theme.css') }}" media="screen">
        <link href="{{ asset('vendor/owlcarousel/owl.transitions.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ asset('vendor/flexslider/flexslider.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('vendor/chosen/chosen.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}" media="screen">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
        <link rel="stylesheet" href="{{ asset('css/theme-animate.css') }}">

        <!-- Style Switcher-->
        <link rel="stylesheet" href="{{ asset('style-switcher/css/style-switcher.css') }}">
        <link href="{{ asset('css/colors/default/style.html') }}" rel="stylesheet" id="layoutstyle">
    {% endblock %}
        <!-- Head libs -->
        <script src="{{ asset('vendor/modernizr/modernizr.js') }}"></script>

        <!--[if IE]>
        <link rel="stylesheet" href="{{ asset('css/ie.css') }}">
        <![endif]-->

        <!--[if lte IE 8]>
        <script src="{{ asset('vendor/respond/respond.js') }}"></script>
        <script src="{{ asset('vendor/excanvas/excanvas.js') }}"></script>
        <![endif]-->

</head>
<body class="front bg-pattern-dark">
<div class="body">
    <header id="header">
        <!-- NAVIGATION MENU -->
        {{ topMenuHelper.showMenu() }}
        <!-- NAVIGATION MENU END -->
        <div class="container text-center">

            <h1 class="logo">
                <a href="/"><img alt="Početna" src="images/logo.png" width="99"></a>
            </h1>

        </div>

    </header>

    {% block body %}{% endblock %}

    <footer id="footer" class="bg-color6">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Contact Us</h4>
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor</p>
                    <address>
                        To order: +12 345 6789<br>
                        Client support: +12 987 6543<br>
                        Email: <a href="mailto:pixelgeeklab@gmail.com">pixelgeeklab@gmail.com</a>
                    </address>
                    <ul class="social-icons">
                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Categories</h4>
                    <ul class="list-links">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Bestsellers</a></li>
                        <li><a href="#">Special Products</a></li>
                        <li><a href="#">Sale Off</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Useful links</h4>
                    <ul class="list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Size guide</a></li>
                        <li><a href="#">Postage + Delivery</a></li>
                        <li><a href="#">Shipping & Returns</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Returns + Exchangees</a></li>
                        <li><a href="#">Terms + Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Latest Tweets</h4>
                    <ul class="latest-tweets">
                        <li>Nam nec tellus a odio tincidunt auctor a  odio. Sed non  <a href="http://pixelgeeklab.com/" target="_blank">http://pixelgeeklab.com</a> <span class="tweet-date">2 days ago</span></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="footer-copyright">
                        <p><img src="images/logo-w.png" alt=""></p>
                        <p>© 2014 Marvel. All Rights Reserved. Designed by <a href="http://pixelgeeklab.com/" target="_blank">Pixelgeeklab.com</a>.</p>
                        <ul class="card-icons">
                            <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Paypal"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Mastercard"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Visa"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Discover"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="AMEX"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Begin Search -->
<div class="modal fade bs-example-modal-lg search-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <p class="clearfix"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></p>
            <form class="form-inline form-search" role="form">
                <div class="form-group">
                    <label class="sr-only" for="textsearch">Enter text search</label>
                    <input type="text" class="form-control input-lg" id="textsearch" placeholder="Enter text search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- End Search -->

<!-- Begin Login/Register -->
<div class="modal fade form-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <ul role="tablist" class="nav nav-tabs grid-tabs text-center">
                <li class="active"><a data-toggle="tab" role="tab" href="#login">Login</a></li>
                <li><a data-toggle="tab" role="tab" href="#register">Register</a></li>
            </ul>
            <div class="tab-content">
                <div id="login" class="tab-pane active">
                    <form class="form-block" role="form">
                        <div class="text-center">
                            <h2>I'm already a member</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="form-group">
                            <label for="lemail" class="control-label sr-only">Email</label>
                            <input type="email" class="form-control" id="lemail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="lpassword" class="control-label sr-only">Password</label>
                            <input type="password" class="form-control" id="lpassword" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                                <a href="#">Lost Password?</a>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </form>
                </div>
                <div id="register" class="tab-pane">
                    <form class="form-block" role="form">
                        <div class="text-center">
                            <h2>I'm new here</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label sr-only">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="resemail" class="control-label sr-only">Email</label>
                            <input type="email" class="form-control" id="resemail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="respassw" class="control-label sr-only">Password</label>
                            <input type="password" class="form-control" id="respassw" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login/Register -->

<!-- Begin Quickview -->
<div class="modal fade quickview-wrapper" id="quickview-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <div class="product-detail">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-preview">
                            <div class="flexslider flexsliderModal">
                                <ul class="slides">
                                    <li data-thumb="images/products/product-9.jpg">
                                        <img src="images/products/product-9.jpg" alt="">
                                    </li>
                                    <li data-thumb="images/products/product-8.jpg">
                                        <img src="images/products/product-8.jpg" alt="">
                                    </li>
                                    <li data-thumb="images/products/product-7.jpg">
                                        <img src="images/products/product-7.jpg" alt="">
                                    </li>
                                    <li data-thumb="images/products/product-6.jpg">
                                        <img src="images/products/product-6.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumb-item thumb-item-list summary">
                            <div class="thumb-item-content">
                                <h3><a href="#">Silver Stainless Steel</a></h3>
                                <ul class="list-review">
                                    <li>
                                        <div class="star-rating" title="Rated 5.00 out of 5">
                                            <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                        </div>
                                    </li>
                                    <li>0 Review</li>
                                    <li class="btn-add-review"><a href="#">Add Your Review</a></li>
                                </ul>
                                <p class="product-price"><ins>$280.00</ins></p>
                                <p>Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim lobortis interdum. Donec nisi est, tempus eget. Nam ullamcorper neque non erat elementum vulputate. Nullam dignissim lobortis interdum.</p>
                                <p class="quan">
                                    <label>Qty:</label>
                                    <input type="text" name="quantity" value="1" title="Qty" class="input-text qty">
                                </p>
                                <p class="thumb-act thumb-act-more">
                                    <a href="#" class="btn-cart"><i class="fa fa-shopping-cart"></i> <span>Add to Cart</span></a>
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                    <a href="#"><i class="fa fa-exchange"></i></a>
                                </p>
                                <hr>
                                <p class="product-cat">Category: <a href="#">Bottoms</a>.</p>
                                <ul class="social-icons-share">
                                    <li><label>Share on:</label></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quickview -->

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul id="main-menu-offcanvas" class="uk-nav-offcanvas" data-uk-nav>
            <li class="uk-parent uk-active">
                <a href="#">Home</a>
                <ul class="uk-nav-sub">
                    <li class="active"><a href="index.html">Home Version 1</a></li>
                    <li><a href="index-2.html">Home Version 2</a></li>
                    <li><a href="index-3.html">Home Version 3</a></li>
                    <li><a href="index-4.html">Home Version 4</a></li>
                    <li><a href="index-5.html">Home Version 5</a></li>
                    <li><a href="index-6.html">Home Version 6</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Men</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Coats and Trench coats</a></li>
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Blazers</a></li>
                    <li><a href="#">Suits</a></li>
                    <li><a href="#">Edition</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">T-shirts</a></li>
                    <li><a href="#">Sweatshirts</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Women</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Coats and Trench coats</a></li>
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Blazers</a></li>
                    <li><a href="#">Suits</a></li>
                    <li><a href="#">Edition</a></li>
                    <li><a href="#">Trousers</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">T-shirts</a></li>
                    <li><a href="#">Sweatshirts</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Shop</a>
                <ul class="uk-nav-sub">
                    <li><a href="shop-grid-fullwidth.html">Shop Grid Full Width</a></li>
                    <li><a href="shop-grid-classic.html">Shop Grid Classic</a></li>
                    <li><a href="shop-product-grid.html">Shop Product Grid</a></li>
                    <li><a href="shop-list-sidebar.html">Shop List Sidebar</a></li>
                    <li><a href="shop-product-detail-fullwidth.html">Product Detail FullWidth</a></li>
                    <li><a href="shop-product-detail-classic.html">Product Detail Classic</a></li>
                    <li><a href="shop-product-detail-custom.html">Product Detail Custom</a></li>
                    <li><a href="shop-cart-full.html">Shopping Cart Full</a></li>
                    <li><a href="shop-checkout.html">Shop-Checkout</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Blog</a>
                <ul class="uk-nav-sub">
                    <li><a href="blog.html">Blog Full Width</a></li>
                    <li><a href="blog-mansory.html">Blog Masonry</a></li>
                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Pages</a>
                <ul class="uk-nav-sub">
                    <li><a href="page-about.html">About Us</a></li>
                    <li><a href="page-404.html">Page 404</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
</div>

<div id="offcanvas-cart" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <div class="uk-panel">
            <h3>Cart</h3>
            <ul class="list-thumbs-pro">
                <li class="product">
                    <div class="thumb-item">
                        <div class="thumb-item-img">
                            <a href="#"><img width="80" src="images/products/product-1.jpg" alt=""></a>
                        </div>

                        <div class="thumb-item-content">
                            <h3><a href="#">Striped full skirt</a></h3>
                            <div class="star-rating" title="Rated 5.00 out of 5">
                                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                            </div>
                            <p class="product-price"><ins>$280.00</ins></p>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="thumb-item">
                        <div class="thumb-item-img">
                            <a href="#"><img width="80" src="images/products/product-2.jpg" alt=""></a>
                        </div>

                        <div class="thumb-item-content">
                            <h3><a href="#">Striped full skirt</a></h3>
                            <div class="star-rating" title="Rated 5.00 out of 5">
                                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                            </div>
                            <p class="product-price"><ins>$280.00</ins></p>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="thumb-item">
                        <div class="thumb-item-img">
                            <a href="#"><img width="80" src="images/products/product-6.jpg" alt=""></a>
                        </div>

                        <div class="thumb-item-content">
                            <h3><a href="#">Striped full skirt</a></h3>
                            <div class="star-rating" title="Rated 5.00 out of 5">
                                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                            </div>
                            <p class="product-price"><ins>$280.00</ins></p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-inline cart-subtotals">
                <li class="cart-subtotal"><strong>Subtotal:</strong></li>
                <li class="price"><span class="amount"><strong>$431</strong></span></li>
            </ul>
            <a href="shop-cart-full.html" class="btn btn-dark btn-block">View Cart</a>
            <a href="shop-checkout.html" class="btn btn-primary btn-block">Go to Checkout</a>
        </div>
    </div>
</div>


{% block javascripts %}
    <!-- Vendor -->
    <script src="{{ asset('vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('vendor/jquery.validation/jquery.validation.js') }}"></script>
    <script src="{{ asset('vendor/owlcarousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('vendor/countdown/countdown.min.js') }}"></script>
    <script src="{{ asset('vendor/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/pricefilter/jquery.pricefilter.js') }}"></script>
    <script src="{{ asset('vendor/masonry/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('vendor/masonry/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('vendor/uikit/uikit.js') }}"></script>
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="{{ asset('js/theme.js') }}"></script>

    <!-- Style Switcher -->
    <script type="text/javascript" src="{{ asset('style-switcher/js/switcher.js') }}"></script>
{% endblock %}
</body>
</html>
